.summer-sale-for4 {
  position: relative;
  line-height: 21px;
  display: inline-block;
  width: 474px;
  height: 18px;
  flex-shrink: 0;
}
.shopnow4 {
  position: relative;
  text-decoration: underline;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
}
.summer-sale-for-all-swim-suits-parent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.top-header-inner3 {
  position: absolute;
  top: 12px;
  right: 445px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.top-header4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--button);
  width: 1441px;
  height: 48px;
  overflow: hidden;
  font-size: var(--title-14px-regular-size);
  color: var(--text);
}
.query-page-child {
  position: absolute;
  top: 48px;
  left: 0;
  background-color: var(--color-white);
  border-bottom: 0.5px solid var(--button);
  box-sizing: border-box;
  width: 1440px;
  height: 86px;
}
.suluhu-dhabiti-ya4 {
  position: absolute;
  top: 68px;
  left: 0;
  font-size: var(--font-size-9xl);
  font-family: var(--font-abeezee);
}
.exclusive4 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 24px;
}
.home4,
.logo4 {
  position: relative;
}
.logo4 {
  width: 118px;
  height: 24px;
}
.home4 {
  line-height: 24px;
}
.underline-icon10 {
  position: relative;
  width: 48px;
  height: 1px;
  opacity: 0.5;
}
.header21 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.contact4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
}
.header22,
.header23,
.header24 {
  position: relative;
  width: 66px;
  height: 24px;
}
.header23,
.header24 {
  width: 48px;
}
.header24 {
  width: 61px;
}
.header-parent2,
.logo-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-parent2 {
  gap: var(--gap-29xl);
  text-align: center;
  font-size: var(--title-16px-regular-size);
  font-family: var(--title-20px-medium);
}
.logo-parent2 {
  position: absolute;
  top: 7px;
  left: 0;
  gap: var(--gap-141xl);
  font-family: var(--heading-24px-bold);
}
.become-a-station4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 21px;
}
.become-a-station-wrapper2,
.group-wrapper22,
.header-inner3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 124px;
  height: 21px;
}
.group-wrapper22,
.header-inner3 {
  top: 9px;
  left: 141px;
}
.header-inner3 {
  top: 0;
  left: 826px;
  width: 412px;
  height: 38px;
  font-size: var(--title-14px-regular-size);
  color: var(--color-2);
}
.wishlist-icon4 {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.cart1-icon4 {
  position: absolute;
  height: 75%;
  width: 75%;
  top: 25%;
  right: 21.88%;
  bottom: 0;
  left: 3.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child27 {
  position: absolute;
  height: 94.12%;
  width: 100%;
  top: 5.88%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-cornflowerblue);
}
.div27 {
  position: absolute;
  height: 100%;
  width: 43.75%;
  top: 0;
  left: 31.25%;
  line-height: 18px;
  display: inline-block;
}
.ellipse-parent2 {
  position: absolute;
  height: 53.13%;
  width: 50%;
  top: 3.13%;
  right: 3.13%;
  bottom: 43.75%;
  left: 46.88%;
}
.cart1-with-buy4,
.user-icon4 {
  position: relative;
  width: 32px;
  height: 32px;
}
.user-icon4 {
  border-radius: var(--br-28xl);
  overflow: hidden;
  flex-shrink: 0;
}
.wishlist-parent2 {
  position: absolute;
  top: 3px;
  left: 1093px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--title-12px-regular-size);
  color: var(--text);
}
.header20 {
  position: absolute;
  top: 146px;
  left: 110px;
  width: 1225px;
  height: 38px;
  font-size: var(--heading-24px-bold-size);
  color: var(--button);
}
.component-2-icon4 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.search-component-set4 {
  position: absolute;
  top: 67px;
  left: 460px;
  border-radius: var(--br-8xs);
  background-color: var(--secondary);
  width: 539px;
  height: 38px;
  font-size: var(--title-12px-regular-size);
  color: var(--button);
}
.english4 {
  position: absolute;
  top: 1.5px;
  left: 0;
  line-height: 21px;
}
.dropdown-icon4 {
  position: absolute;
  top: 0;
  left: 54px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.english-parent2 {
  position: absolute;
  top: 79px;
  left: 1257px;
  width: 78px;
  height: 24px;
  font-size: var(--title-14px-regular-size);
}
.query-page-item {
  position: absolute;
  top: 195.75px;
  left: 0;
  width: 1440.73px;
  height: 0.5px;
}
.px-apple-gray-logo-1-icon4 {
  position: relative;
  width: 89px;
  height: 68px;
  object-fit: cover;
}
.id-look-up7 {
  position: relative;
  line-height: 33.35px;
  display: inline-block;
  width: 316px;
  height: 30px;
  flex-shrink: 0;
}
.px-apple-gray-logo-1-parent2 {
  position: absolute;
  top: 58px;
  left: 76px;
  width: 277px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 33.35px;
  text-align: center;
  font-size: 22.23px;
  color: var(--text);
}
.fill-in-the {
  position: absolute;
  top: 123.47px;
  left: 88.93px;
  font-size: 48px;
  letter-spacing: 0.04em;
  line-height: 83.37px;
  font-weight: 600;
  font-family: var(--heading-24px-bold);
  color: var(--text);
  display: inline-block;
  width: 408.52px;
}
.frame-child28 {
  position: absolute;
  top: 430px;
  left: 612px;
  border-radius: 50%;
  background-color: var(--color-mediumturquoise);
  width: 15px;
  height: 15px;
}
.frame-child29 {
  position: absolute;
  top: 428px;
  left: 546px;
  width: 147.29px;
  height: 19.45px;
}
.what-is-your {
  position: relative;
  line-height: 18px;
  opacity: 0.5;
}
.what-is-your-district-of-birth-parent {
  position: absolute;
  top: 7px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-306xl);
}
.search-component-set5,
.search-component-set6 {
  position: absolute;
  top: 58px;
  left: 610px;
  border-radius: var(--br-8xs);
  background-color: var(--secondary);
  width: 575px;
  height: 38px;
}
.search-component-set6 {
  top: 156px;
}
.what-is-your-sub-location-of-b-wrapper {
  position: absolute;
  top: 7px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.component-2-icon7 {
  position: absolute;
  top: 7px;
  left: 530px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.search-component-set7 {
  position: absolute;
  top: 205px;
  left: 610px;
  border-radius: var(--br-8xs);
  background-color: var(--secondary);
  width: 575px;
  height: 38px;
}
.place-of-issue {
  position: relative;
  line-height: 18px;
  display: inline-block;
  width: 206px;
  flex-shrink: 0;
  opacity: 0.5;
}
.component-2-icon8 {
  position: absolute;
  top: 8px;
  left: 202px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.search-component-set10,
.search-component-set8,
.search-component-set9 {
  position: absolute;
  top: 292px;
  left: 604px;
  border-radius: var(--br-8xs);
  background-color: var(--secondary);
  width: 245px;
  height: 38px;
}
.search-component-set10,
.search-component-set9 {
  top: 295px;
  left: 940px;
}
.search-component-set10 {
  top: 107px;
  left: 610px;
  width: 575px;
}
.check-for-hits {
  position: relative;
  font-weight: 500;
}
.arrowright-icon18 {
  position: relative;
  width: 23.75px;
  height: 19.79px;
  overflow: hidden;
  flex-shrink: 0;
}
.check-for-hits-parent {
  position: absolute;
  top: 365px;
  left: 813px;
  border-radius: 7.92px;
  background-color: var(--color-powderblue);
  width: 194px;
  height: 63px;
  display: flex;
  flex-direction: row;
  padding: 11.875200271606445px 23.75040054321289px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs-9);
  cursor: pointer;
  font-size: 17.81px;
  color: var(--color-2);
}
.specific-tracing-filters {
  position: absolute;
  top: 254px;
  left: 724px;
  font-size: 22.23px;
  line-height: 33.35px;
  color: var(--text);
  text-align: center;
  display: inline-block;
  width: 316px;
  height: 30px;
}
.frame-parent41,
.query-page-inner {
  position: absolute;
  width: 1239.47px;
  height: 478px;
}
.frame-parent41 {
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--button);
  overflow: hidden;
}
.query-page-inner {
  top: 271px;
  left: 84px;
  font-size: var(--title-12px-regular-size);
  color: var(--button);
}
.query-page-child1 {
  position: absolute;
  top: 805px;
  left: 0;
  width: 1536.63px;
  height: 212.93px;
}
.see-all4 {
  position: absolute;
  top: 32px;
  left: 1170px;
  font-weight: 500;
}
.explore4 {
  position: absolute;
  top: 0;
  left: 1px;
  font-size: var(--font-size-45xl);
  color: var(--color-2);
}
.group-child28,
.group-child29,
.group-child30,
.group-child31 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  width: 400px;
  height: 429px;
  object-fit: cover;
}
.group-child29,
.group-child30,
.group-child31 {
  left: 420px;
  width: 820px;
  height: 427px;
}
.group-child30,
.group-child31 {
  top: 467px;
  left: 3px;
  width: 818px;
}
.group-child31 {
  top: 469px;
  left: 841px;
  width: 365px;
  height: 415.57px;
}
.register-as-model4,
.subscribe-2-instant4 {
  position: absolute;
  top: 359px;
  left: 471px;
  line-height: 40px;
  font-weight: 500;
}
.register-as-model4 {
  left: 6px;
}
.span25 {
  color: var(--color-4);
}
.may-june49 {
  color: var(--color-forestgreen);
}
.may-june48 {
  position: absolute;
  top: 655.57px;
  left: 497px;
  font-size: 16.73px;
  font-weight: 500;
  color: var(--color-2);
}
.near-by-kitambulisho-stations-parent2 {
  position: absolute;
  top: 812.57px;
  left: 53px;
  border-radius: 7.92px;
  background-color: var(--color-powderblue);
  width: 486px;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: 11.875200271606445px 23.75040054321289px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs-9);
  font-size: var(--heading-24px-bold-size);
  color: var(--color-2);
}
.rectangle-parent15,
.see-all-parent2 {
  position: absolute;
  top: 141.43px;
  left: 0;
  width: 1240px;
  height: 894px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.see-all-parent2 {
  top: 1017px;
  left: 100px;
  height: 1035.43px;
  font-size: var(--font-size-2xl);
  color: var(--color-mediumturquoise);
}
.frame-child30,
.frame-wrapper26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 394px;
  height: 24px;
}
.frame-wrapper26 {
  top: 43px;
  left: 936px;
  opacity: 0.6;
}
.footer-inner2,
.underline-icon11 {
  position: absolute;
  top: 687px;
  left: 0;
  width: 1440px;
  height: 109px;
  opacity: 0.4;
}
.underline-icon11 {
  top: 682px;
  left: 1px;
  height: 1px;
  opacity: 0.5;
}
.cash-on-delivery3,
.trialshoopy-accepts3 {
  position: absolute;
  display: flex;
  align-items: center;
}
.trialshoopy-accepts3 {
  height: 23.21%;
  width: 56.9%;
  top: 0;
  left: 0;
  font-weight: 500;
  justify-content: center;
}
.cash-on-delivery3 {
  width: 20.98%;
  top: 3.45%;
  left: 79.02%;
  letter-spacing: 0.1em;
}
.bhim-upi-icon-13,
.pngimg-1-icon3,
.pngimg-2-icon3 {
  position: absolute;
  height: 75.86%;
  width: 20.63%;
  top: 10.34%;
  right: 79.37%;
  bottom: 13.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bhim-upi-icon-13,
.pngimg-2-icon3 {
  height: 93.1%;
  width: 15.03%;
  top: 0;
  right: 57.34%;
  bottom: 6.9%;
  left: 27.62%;
}
.bhim-upi-icon-13 {
  height: 75.86%;
  width: 16.08%;
  top: 10.34%;
  right: 34.27%;
  bottom: 13.79%;
  left: 49.65%;
}
.div28 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 0.1em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper1 {
  position: absolute;
  height: 75.86%;
  width: 4.9%;
  top: 10.34%;
  right: 23.43%;
  bottom: 13.79%;
  left: 71.68%;
  text-align: center;
  font-size: var(--heading-24px-bold-size);
  color: var(--color-sienna);
}
.cash-on-delivery-parent1 {
  position: absolute;
  height: 51.79%;
  width: 98.62%;
  top: 48.21%;
  right: 0;
  bottom: 0;
  left: 1.38%;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--button);
  font-family: var(--font-nunito);
}
.trialshoopy-accepts-parent1 {
  position: relative;
  width: 290px;
  height: 56px;
}
.icon-copyright3 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.wwwkitambulishocoke-all-rig3 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 24px;
}
.icon-copyright-parent1 {
  position: relative;
  width: 405px;
  height: 24px;
  text-align: left;
  font-size: var(--title-16px-regular-size);
}
.frame-parent42 {
  position: absolute;
  top: 713px;
  left: 106px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-521xl);
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-lightgray);
}
.id-look-up8 {
  position: relative;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 500;
}
.report-as-found3,
.report-as-id3,
.trace-search3 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
}
.report-as-found3,
.report-as-id3 {
  top: 40px;
}
.report-as-id3 {
  top: 80px;
}
.trace-search-parent1 {
  position: relative;
  width: 123px;
  height: 184px;
  font-size: var(--title-16px-regular-size);
}
.id-look-up-trace-parent1,
.near-by-fashion-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.id-look-up-trace-parent1 {
  position: absolute;
  top: 271px;
  left: 110px;
  gap: var(--gap-5xl);
}
.near-by-fashion-parent1 {
  gap: var(--gap-base);
  font-size: var(--title-16px-regular-size);
}
.near-by-stations-parent1 {
  position: absolute;
  top: 271px;
  left: 349px;
  gap: var(--gap-5xl);
}
.help-info-parent1,
.kitambulisho-popote-parent1,
.near-by-stations-parent1,
.trank-an-order-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trank-an-order-parent1 {
  gap: var(--gap-base);
  font-size: var(--title-16px-regular-size);
}
.help-info-parent1,
.kitambulisho-popote-parent1 {
  position: absolute;
  top: 271px;
  left: 565px;
  gap: var(--gap-5xl);
}
.kitambulisho-popote-parent1 {
  left: 784px;
}
.customercarekitambulishocok3 {
  position: absolute;
  top: 0;
  left: -2px;
  line-height: 24px;
}
.customercarekitambulishocok-wrapper1 {
  position: absolute;
  top: 52px;
  left: 0;
  width: 260px;
  height: 24px;
}
.email3 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--title-20px-medium-size);
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 500;
}
.frame-parent45 {
  position: relative;
  width: 259.92px;
  height: 76px;
}
.icon-facebook-parent1 {
  position: absolute;
  top: 52px;
  left: -2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.social-links3 {
  position: absolute;
  top: 0;
  left: -2px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 500;
}
.frame-parent46 {
  position: relative;
  width: 259.92px;
  height: 73px;
  font-size: var(--title-20px-medium-size);
}
.frame-parent44 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.download-app3 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.qrcode-1-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.googleplay-icon3,
.qr-code3 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.qr-code3 {
  background-color: var(--button);
  width: 80px;
  height: 80px;
}
.googleplay-icon3 {
  width: 110px;
  height: 40px;
}
.download-appstore-icon3 {
  position: absolute;
  top: 2.4px;
  left: 2.4px;
  border-radius: var(--br-9xs);
  width: 105.2px;
  height: 35.2px;
  object-fit: cover;
}
.appstore3 {
  position: relative;
  background-color: var(--button);
  width: 110px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.googleplay-parent1 {
  gap: var(--gap-9xs);
}
.download-app-parent1,
.frame-parent43,
.frame-wrapper27,
.googleplay-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.download-app-parent1,
.frame-parent43 {
  gap: var(--gap-5xl);
  font-size: var(--title-20px-medium-size);
}
.frame-parent43 {
  position: absolute;
  top: 271px;
  left: 1109px;
  gap: var(--gap-12xl);
  font-size: var(--title-16px-regular-size);
}
.vector-icon18 {
  position: relative;
  width: 75px;
  height: 54.55px;
}
.fast-safe-convenient3 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.1em;
  line-height: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 410px;
}
.find-out-more6,
.on-all-order3 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.1em;
  line-height: 24px;
}
.find-out-more6 {
  top: 30px;
}
.on-all-order-parent1 {
  position: absolute;
  top: 36px;
  left: 0;
  width: 130px;
  height: 54px;
  font-size: var(--title-16px-regular-size);
  font-family: var(--title-20px-medium);
}
.fast-safe-convenient-deliver-parent1 {
  position: relative;
  width: 410px;
  height: 90px;
}
.vector-parent4 {
  position: absolute;
  top: 66px;
  left: 821px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-family: var(--font-nunito);
}
.vector-icon19 {
  position: relative;
  width: 69.5px;
  height: 46.33px;
}
.ts-referral-program3 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.1em;
  line-height: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 281px;
}
.refer-a-friend-give-250-get-parent1 {
  position: absolute;
  top: 36px;
  left: 0;
  width: 326px;
  height: 54px;
  font-size: var(--title-16px-regular-size);
  font-family: var(--title-20px-medium);
}
.ts-referral-program-parent1 {
  position: relative;
  width: 326px;
  height: 90px;
}
.vector-parent5 {
  position: absolute;
  top: 66px;
  left: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-family: var(--font-nunito);
}
.underline-icon12 {
  position: absolute;
  top: 200px;
  left: 1px;
  width: 1440px;
  height: 1px;
  opacity: 0.5;
}
.footer3 {
  position: absolute;
  top: 2734px;
  left: 0;
  background-color: var(--button);
  width: 1442px;
  height: 805px;
  overflow: hidden;
  font-size: var(--title-20px-medium-size);
  color: var(--text);
}
.easiest-way-to4,
.recovered-identity-cards4 {
  position: relative;
  display: inline-block;
  width: 253.34px;
}
.easiest-way-to4 {
  font-size: 17.81px;
  font-weight: 500;
  color: var(--color-4);
  width: 193.96px;
}
.recovered-identity-cards-cus-parent2 {
  flex-direction: column;
  align-items: flex-start;
  gap: 11.88px;
}
.frame-parent48,
.recovered-identity-cards-cus-parent2,
.see-more-parent2 {
  display: flex;
  justify-content: flex-start;
}
.see-more-parent2 {
  border-radius: 7.92px;
  background-color: var(--color-powderblue);
  flex-direction: row;
  padding: 11.875200271606445px 23.75040054321289px;
  align-items: center;
  gap: var(--gap-3xs-9);
  font-size: 17.81px;
}
.frame-parent48 {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 23.75px;
  font-size: 31.67px;
}
.frame-child31 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  width: 278px;
  height: 338px;
  object-fit: cover;
}
.rectangle-wrapper18 {
  position: absolute;
  top: 0.1px;
  left: 0;
  border-radius: 11.15px;
  background-color: var(--color-silver);
  width: 278px;
  height: 310px;
  overflow: hidden;
}
.div29 {
  position: relative;
  font-size: 16.73px;
  font-weight: 500;
}
.recovered-parent18 {
  position: absolute;
  top: 348.59px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.51px;
}
.nairobi-county20 {
  position: absolute;
  top: 320.1px;
  left: 70px;
  font-size: var(--title-20px-medium-size);
  font-weight: 500;
}
.may-june50,
.re-issued20 {
  position: absolute;
  top: 348.59px;
  left: 136px;
  font-weight: 500;
}
.may-june50 {
  top: 380.1px;
  left: 129px;
  font-size: 16.73px;
  color: var(--color-4);
}
.frame-parent49 {
  position: absolute;
  top: 0;
  left: 0;
  width: 278.25px;
  height: 405.1px;
}
.frame-wrapper28 {
  position: relative;
  width: 278.25px;
  height: 405.1px;
}
.group-wrapper23 {
  position: absolute;
  top: 0.48px;
  left: 295px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-child32 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-powderblue);
  width: 48px;
  height: 41px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.vector-icon20 {
  position: absolute;
  height: 26.13%;
  width: 40.28%;
  top: 37.84%;
  right: 131.25%;
  bottom: 36.04%;
  left: -71.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent16 {
  position: absolute;
  top: 144.48px;
  left: 319px;
  width: 48px;
  height: 41px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.group-wrapper25 {
  position: absolute;
  top: 8.57px;
  left: 928px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-child33 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-powderblue);
  width: 48px;
  height: 41px;
}
.vector-icon21 {
  position: absolute;
  height: 23.58%;
  width: 40.28%;
  top: 39.02%;
  right: 30.56%;
  bottom: 37.4%;
  left: 29.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent47,
.rectangle-parent17 {
  position: absolute;
  top: 133.48px;
  left: 1192px;
  width: 48px;
  height: 41px;
}
.frame-parent47 {
  top: 2178.43px;
  left: 100px;
  width: 1240px;
  height: 413.67px;
}
.query-page-inner1,
.query-page-inner2,
.report-lost-id-parent2 {
  position: absolute;
  top: 2179px;
  left: 696px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.query-page-inner2,
.report-lost-id-parent2 {
  left: 697px;
}
.report-lost-id-parent2 {
  top: 1961px;
  left: 1013px;
  border-radius: 7.92px;
  background-color: var(--color-powderblue);
  width: 245px;
  height: 69px;
  flex-direction: row;
  padding: 11.875200271606445px 23.75040054321289px;
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-3xs-9);
  font-size: var(--heading-24px-bold-size);
}
.query-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 5301px;
  overflow: hidden;
  text-align: left;
  font-size: 16.63px;
  color: var(--color-2);
  font-family: var(--title-20px-medium);
}
